Name : numpy<br />
Version : 1.26.4<br /><br />
Name: tensorflow<br />
Version: 2.18.0<br /><br />
Name: keras<br />
Version: 3.6.0<br /><br />
Name: opencv-python<br />
Version: 4.10.0.84<br /><br />
